openapi: "3.0.0"
info:
  version: 1.0.0
  title: Age Test Service
  license:
    name: MIT
servers:
  - url: https://demo.convenantgemeenten.nl/agetest
paths:
  /:
    post:
      operationId: create
      description: Returns a boolean result to indicate if the age test was a success
      summary: Executes an age test to validate if person satisfies a certain minimum age on a target date
      requestBody:
        description: Callback payload
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/AgeTestRequest'
      responses:
        '200':
          description: agetest response
          content:
            '*/*':
              schema:
                "$ref": "#/components/schemas/AgeTest"
    get:
      operationId: list
      description: Query registered or executed agetests
      responses:
        '200':
          description: List of agetests
          content:
            'application/json':
              schema:
                type: "array"
                items: {
                  $ref: "#/components/schemas/AgeTest"
                }
components:
  schemas:
    AgeTestRequest:
      type: object
      properties:
        id:
          type: string
        person:
          type: string
        minimumAge:
          type: integer
          format: int32
        validOn:
          type: string
          format: date
    AgeTest:
      type: object
      properties:
        id:
          type: string
        person:
          type: string
        minimumAge:
          type: integer
          format: int32
        validOn:
          type: string
          format: date
        executedOn:
          type: string
          format: datetime
        result:
          type: boolean
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string